<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p id="texto">Texto AJAX</p>
    <form action="/" method="POST" class="form">
        <input type="text" placeholder="Cambia el texto" name="text">
        <input type="submit" value="enviar" name="submit" id="submitPostForm">
    </form>
    <form method="POST" action="/?_method=DELETE" class="form">
        <input type="text" placeholder="Elimina" name="text">
        <input type="submit" value="delete" name="submit" id="submitDeleteForm">
    </form>
    <form method="POST" action="/?_method=PUT" class="form">
        <input type="text" placeholder="Actualizar" name="text">
        <input type="submit" value="put" name="submit" id="submitPutForm">
    </form>
    <script src="js/ajax.js"></script>
</body>

</html>